<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="home-economics" connectionString="mongodb://localhost/home-economics" />-->
    <add name="home-economics" connectionString="arangodb://root@localhost/home-economics" providerName="ArangoDB" />
  </connectionStrings>
</configuration>