<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="system" connectionString="arangodb://localhost/_system" providerName="ArangoDB" />
    <add name="home-economics" connectionString="arangodb://localhost/home-economics" providerName="ArangoDB" />
  </connectionStrings>
</configuration>