<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
<connectionStrings>
    <add name="home-economics" connectionString="mongodb://homeec:MP3HQ4zhTUjC@ds058548.mlab.com:58548/home-economics" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-HomeEconomics.Web-20160602074205.mdf;Initial Catalog=aspnet-HomeEconomics.Web-20160602074205;Integrated Security=True" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
  </connectionStrings>
</configuration>